<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>PeekZip</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PeekZip</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ZIP Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zip-archive</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/zip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tar</string>
				<string>gz</string>
				<string>tgz</string>
				<string>bz2</string>
				<string>xz</string>
				<string>cpio</string>
				<string>xar</string>
				<string>rar</string>
				<string>7z</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-tar</string>
				<string>application/gzip</string>
				<string>application/x-gzip</string>
				<string>application/x-bzip2</string>
				<string>application/x-xz</string>
				<string>application/x-cpio</string>
				<string>application/x-xar</string>
				<string>application/vnd.rar</string>
				<string>application/x-rar-compressed</string>
				<string>application/x-7z-compressed</string>
			</array>
		</dict>
	</array>
	<key>NSMainNibFile</key>
	<string></string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
